image: registry.sensetime.com/zoetrope/library/docker:19.03.15_aws

variables:
  GIT_SUBMODULE_STRATEGY: recursive

stages:
  - lint
  - docstring
  - build

lint:
  interruptible: true
  image: registry.sensetime.com/zoetrope/ruff:0.9-alpine
  stage: lint
  script:
    - ruff --version
    - ruff check

docstring:
  interruptible: true
  image: registry.sensetime.com/zoetrope/lint:ubuntu1804_x64_py38
  stage: docstring
  script:
    - source /root/miniconda3/etc/profile.d/conda.sh
    - conda activate lint
    - interrogate -vinmMI --ignore-init-method --ignore-module --ignore-nested-functions --ignore-regex "__repr__" -f 60 dlp3d_web_backend/

build:docker_image:
  interruptible: true
  stage: build
  needs:
    - lint
  script:
    - docker login registry.sensetime.com --username ${CI_REGISTRY_USERNAME} --password ${CI_REGISTRY_PASSWD}
    - DOCKER_BUILDKIT=1 docker build --no-cache -t local:temp -f ./Dockerfile .
    - docker tag local:temp registry.sensetime.com/zoetrope/her:web_backend-${CI_COMMIT_TAG}
    - echo "Pushing image to registry.sensetime.com/zoetrope/her:web_backend-${CI_COMMIT_TAG}"
    - docker push registry.sensetime.com/zoetrope/her:web_backend-${CI_COMMIT_TAG}
  only:
    - tags
