services:
  speech2motion:
    image: dockersenseyang/dlp3d_speech2motion:latest
    container_name: speech2motion
    restart: unless-stopped
    volumes:
      - ./data:/workspace/speech2motion/data
    networks:
      - mongodb_network

  audio2face:
    image: dockersenseyang/dlp3d_audio2face:latest
    container_name: audio2face
    restart: unless-stopped
    volumes:
      - ./weights:/workspace/audio2face/weights
    networks:
      - mongodb_network

  mongodb:
    image: mongodb/mongodb-community-server:7.0-ubi8
    container_name: mongodb
    restart: unless-stopped
    environment:
      MONGODB_INITDB_ROOT_USERNAME: admin
      MONGODB_INITDB_ROOT_PASSWORD: admin_password
    volumes:
      - mongodb_data:/data/db
    networks:
      - mongodb_network

  web_backend:
    image: dlp3d/web_backend:latest
    container_name: web_backend
    restart: unless-stopped
    ports:
      - "18080:18080"
    environment:
      MONGODB_HOST: mongodb
      MONGODB_PORT: 27017
      MONGODB_USERNAME: web_user
      MONGODB_PASSWORD: web_password
      MONGODB_DATABASE: web_database
      MONGODB_AUTH_DATABASE: web_database
      MONGODB_ADMIN_USERNAME: admin
      MONGODB_ADMIN_PASSWORD: admin_password
    volumes:
      - ./data:/workspace/web-backend/data
    depends_on:
      - mongodb
    networks:
      - mongodb_network

  orchestrator:
    image: dockersenseyang/dlp3d_orchestrator:latest
    container_name: orchestrator
    restart: unless-stopped
    ports:
      - "18081:18081"
    environment:
      MONGODB_HOST: mongodb
      MONGODB_PORT: 27017
      MONGODB_MEMORY_DB: memory_database
      MONGODB_MEMORY_USER: memory_user
      MONGODB_MEMORY_PASSWORD: memory_password
      MONGODB_WEB_DB: web_database
      MONGODB_WEB_USER: web_user
      MONGODB_WEB_PASSWORD: web_password
      MONGODB_ADMIN_USERNAME: admin
      MONGODB_ADMIN_PASSWORD: admin_password
      A2F_WS_URL: ws://audio2face:18083/api/v1/streaming_audio2face/ws
      S2M_WS_URL: ws://speech2motion:18084/api/v3/streaming_speech2motion/ws
      BACKEND_URL: http://web_backend:18080/api/v1/motion_keywords
      # PROXY_URL: http://127.0.0.1:7890
    depends_on:
      - mongodb
      - audio2face
      - speech2motion
      - web_backend
    networks:
      - mongodb_network

volumes:
  mongodb_data:

networks:
  mongodb_network:
    driver: bridge
